desc = [{
    "constant": true,
    "inputs": [],
    "name": "name",
    "outputs": [{
        "name": "",
        "type": "string",
        "value": "_name_"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [],
    "name": "getTaxAccount",
    "outputs": [{
        "name": "",
        "type": "address",
        "value": "0x4868db83bcf1a129eac577d4d1ad0fd5676176c6"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "",
        "type": "address"
    }, {
        "name": "",
        "type": "address"
    }],
    "name": "myAllowed",
    "outputs": [{
        "name": "",
        "type": "int256",
        "value": "0"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [],
    "name": "totalSupply",
    "outputs": [{
        "name": "totalSupply",
        "type": "int256",
        "value": "142479"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": false,
    "inputs": [{
        "name": "_from",
        "type": "address"
    }, {
        "name": "_to",
        "type": "address"
    }, {
        "name": "_amount",
        "type": "int256"
    }],
    "name": "insertRequest",
    "outputs": [],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "_user",
        "type": "address"
    }],
    "name": "isOwner",
    "outputs": [{
        "name": "",
        "type": "bool",
        "value": false
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [],
    "name": "decimals",
    "outputs": [{
        "name": "",
        "type": "int8",
        "value": "2"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": false,
    "inputs": [{
        "name": "_from",
        "type": "address"
    }, {
        "name": "_to",
        "type": "address"
    }, {
        "name": "_value",
        "type": "int256"
    }],
    "name": "payCM",
    "outputs": [],
    "payable": false,
    "type": "function"
}, {
    "constant": false,
    "inputs": [{
        "name": "_from",
        "type": "address"
    }, {
        "name": "_to",
        "type": "address"
    }],
    "name": "clear_request",
    "outputs": [],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "",
        "type": "address"
    }, {
        "name": "",
        "type": "uint256"
    }],
    "name": "allowMap",
    "outputs": [{
        "name": "",
        "type": "address",
        "value": "0x"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": false,
    "inputs": [{
        "name": "_amount",
        "type": "uint256"
    }],
    "name": "repay",
    "outputs": [],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "_spender",
        "type": "address"
    }],
    "name": "myRequestCount",
    "outputs": [{
        "name": "",
        "type": "uint256",
        "value": "0"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [],
    "name": "getTaxPercentLeg",
    "outputs": [{
        "name": "",
        "type": "int16",
        "value": "100"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [],
    "name": "amountPledged",
    "outputs": [{
        "name": "",
        "type": "int256",
        "value": "142479"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [],
    "name": "txAddr",
    "outputs": [{
        "name": "",
        "type": "address",
        "value": "0x4868db83bcf1a129eac577d4d1ad0fd5676176c6"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "",
        "type": "address"
    }, {
        "name": "",
        "type": "uint256"
    }],
    "name": "myDelegMap",
    "outputs": [{
        "name": "",
        "type": "address",
        "value": "0x"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "_owner",
        "type": "address"
    }],
    "name": "delegationCount",
    "outputs": [{
        "name": "",
        "type": "uint256",
        "value": "0"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [],
    "name": "standard",
    "outputs": [{
        "name": "",
        "type": "string",
        "value": "_fullname_"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "",
        "type": "address"
    }, {
        "name": "",
        "type": "uint256"
    }],
    "name": "delegMap",
    "outputs": [{
        "name": "",
        "type": "address",
        "value": "0x"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "",
        "type": "address"
    }, {
        "name": "",
        "type": "address"
    }],
    "name": "allowed",
    "outputs": [{
        "name": "",
        "type": "int256",
        "value": "0"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "",
        "type": "address"
    }],
    "name": "accountStatus",
    "outputs": [{
        "name": "",
        "type": "bool",
        "value": false
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "",
        "type": "address"
    }, {
        "name": "",
        "type": "uint256"
    }],
    "name": "myReqMap",
    "outputs": [{
        "name": "",
        "type": "address",
        "value": "0x"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "",
        "type": "address"
    }, {
        "name": "",
        "type": "address"
    }],
    "name": "requested",
    "outputs": [{
        "name": "",
        "type": "int256",
        "value": "0"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [],
    "name": "percentLeg",
    "outputs": [{
        "name": "",
        "type": "int16",
        "value": "100"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": false,
    "inputs": [{
        "name": "_to",
        "type": "address"
    }, {
        "name": "_value",
        "type": "int256"
    }],
    "name": "pledge",
    "outputs": [],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "_from",
        "type": "address"
    }],
    "name": "balanceOf",
    "outputs": [{
        "name": "amount",
        "type": "int256",
        "value": "0"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [],
    "name": "percent",
    "outputs": [{
        "name": "",
        "type": "int16",
        "value": "0"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": false,
    "inputs": [{
        "name": "_spender",
        "type": "address"
    }, {
        "name": "_amount",
        "type": "int256"
    }],
    "name": "delegate",
    "outputs": [],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "_spender",
        "type": "address"
    }],
    "name": "myDelegationCount",
    "outputs": [{
        "name": "",
        "type": "uint256",
        "value": "0"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": false,
    "inputs": [{
        "name": "_minimumBalance",
        "type": "uint256"
    }],
    "name": "setRefillLimit",
    "outputs": [],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [],
    "name": "amountFonds",
    "outputs": [{
        "name": "",
        "type": "int256",
        "value": "0"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": false,
    "inputs": [{
        "name": "_targetAccount",
        "type": "address"
    }, {
        "name": "_accountStatus",
        "type": "bool"
    }, {
        "name": "_accountType",
        "type": "int256"
    }, {
        "name": "_debitLimit",
        "type": "int256"
    }, {
        "name": "_creditLimit",
        "type": "int256"
    }],
    "name": "setAccountParams",
    "outputs": [],
    "payable": false,
    "type": "function"
}, {
    "constant": false,
    "inputs": [{
        "name": "_actif",
        "type": "bool"
    }],
    "name": "setContractStatus",
    "outputs": [],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [],
    "name": "actif",
    "outputs": [{
        "name": "",
        "type": "bool",
        "value": true
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [],
    "name": "owner",
    "outputs": [{
        "name": "",
        "type": "address",
        "value": "0x4868db83bcf1a129eac577d4d1ad0fd5676176c6"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [],
    "name": "symbol",
    "outputs": [{
        "name": "",
        "type": "string",
        "value": "_symbol_"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [],
    "name": "getTaxPercent",
    "outputs": [{
        "name": "",
        "type": "int16",
        "value": "0"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "",
        "type": "address"
    }, {
        "name": "",
        "type": "address"
    }],
    "name": "myDelegated",
    "outputs": [{
        "name": "",
        "type": "int256",
        "value": "0"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "_owner",
        "type": "address"
    }],
    "name": "allowanceCount",
    "outputs": [{
        "name": "",
        "type": "uint256",
        "value": "0"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "_spender",
        "type": "address"
    }],
    "name": "myAllowanceCount",
    "outputs": [{
        "name": "",
        "type": "uint256",
        "value": "0"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "",
        "type": "address"
    }, {
        "name": "",
        "type": "uint256"
    }],
    "name": "reqMap",
    "outputs": [{
        "name": "",
        "type": "address",
        "value": "0x"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "",
        "type": "address"
    }],
    "name": "balanceEL",
    "outputs": [{
        "name": "",
        "type": "int256",
        "value": "0"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "",
        "type": "address"
    }],
    "name": "limitDebit",
    "outputs": [{
        "name": "",
        "type": "int256",
        "value": "0"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "",
        "type": "address"
    }],
    "name": "accountType",
    "outputs": [{
        "name": "",
        "type": "int256",
        "value": "0"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "",
        "type": "address"
    }],
    "name": "balanceCM",
    "outputs": [{
        "name": "",
        "type": "int256",
        "value": "0"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "",
        "type": "address"
    }],
    "name": "limitCredit",
    "outputs": [{
        "name": "",
        "type": "int256",
        "value": "0"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [],
    "name": "refillSupply",
    "outputs": [{
        "name": "",
        "type": "uint256",
        "value": "10"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": false,
    "inputs": [{
        "name": "_target",
        "type": "address"
    }],
    "name": "setTaxAccount",
    "outputs": [],
    "payable": false,
    "type": "function"
}, {
    "constant": false,
    "inputs": [{
        "name": "_spender",
        "type": "address"
    }, {
        "name": "_amount",
        "type": "int256"
    }],
    "name": "approve",
    "outputs": [{
        "name": "success",
        "type": "bool"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": false,
    "inputs": [{
        "name": "_from",
        "type": "address"
    }, {
        "name": "_to",
        "type": "address"
    }, {
        "name": "_value",
        "type": "int256"
    }],
    "name": "updateRequested",
    "outputs": [],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "_owner",
        "type": "address"
    }],
    "name": "requestCount",
    "outputs": [{
        "name": "",
        "type": "uint256",
        "value": "0"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": false,
    "inputs": [{
        "name": "newOwner",
        "type": "address"
    }],
    "name": "transferOwnership",
    "outputs": [],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "",
        "type": "address"
    }, {
        "name": "",
        "type": "address"
    }],
    "name": "delegated",
    "outputs": [{
        "name": "",
        "type": "int256",
        "value": "0"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "",
        "type": "address"
    }, {
        "name": "",
        "type": "uint256"
    }],
    "name": "myAllowMap",
    "outputs": [{
        "name": "",
        "type": "address",
        "value": "0x"
    }],
    "payable": false,
    "type": "function"
}, {
    "constant": false,
    "inputs": [{
        "name": "_value",
        "type": "int16"
    }],
    "name": "setTaxPercent",
    "outputs": [],
    "payable": false,
    "type": "function"
}, {
    "constant": false,
    "inputs": [{
        "name": "_from",
        "type": "address"
    }, {
        "name": "_to",
        "type": "address"
    }, {
        "name": "_value",
        "type": "int256"
    }],
    "name": "payNant",
    "outputs": [],
    "payable": false,
    "type": "function"
}, {
    "constant": false,
    "inputs": [{
        "name": "_value",
        "type": "int16"
    }],
    "name": "setTaxPercentLeg",
    "outputs": [],
    "payable": false,
    "type": "function"
}, {
    "constant": false,
    "inputs": [{
        "name": "_from",
        "type": "address"
    }, {
        "name": "_to",
        "type": "address"
    }, {
        "name": "_value",
        "type": "int256"
    }],
    "name": "updateAllowed",
    "outputs": [],
    "payable": false,
    "type": "function"
}, {
    "constant": true,
    "inputs": [{
        "name": "",
        "type": "address"
    }, {
        "name": "",
        "type": "address"
    }],
    "name": "myRequested",
    "outputs": [{
        "name": "",
        "type": "int256",
        "value": "0"
    }],
    "payable": false,
    "type": "function"
}, {
    "inputs": [{
        "name": "taxAddress",
        "type": "address",
        "index": 0,
        "typeShort": "address",
        "bits": "",
        "displayName": "tax Address",
        "template": "elements_input_address",
        "value": "0x4868db83bcf1a129eac577d4d1ad0fd5676176c6"
    }, {
        "name": "taxPercent",
        "type": "int8",
        "index": 1,
        "typeShort": "int",
        "bits": "8",
        "displayName": "tax Percent",
        "template": "elements_input_int",
        "value": "0"
    }, {
        "name": "taxPercentLeg",
        "type": "int8",
        "index": 2,
        "typeShort": "int",
        "bits": "8",
        "displayName": "tax Percent Leg",
        "template": "elements_input_int",
        "value": "0"
    }],
    "payable": false,
    "type": "constructor"
}, {
    "payable": true,
    "type": "fallback"
}, {
    "anonymous": false,
    "inputs": [{
        "indexed": false,
        "name": "time",
        "type": "uint256"
    }, {
        "indexed": true,
        "name": "from",
        "type": "address"
    }, {
        "indexed": true,
        "name": "to",
        "type": "address"
    }, {
        "indexed": false,
        "name": "sent",
        "type": "int256"
    }, {
        "indexed": false,
        "name": "tax",
        "type": "int256"
    }, {
        "indexed": false,
        "name": "recieved",
        "type": "int256"
    }],
    "name": "Transfer",
    "type": "event"
}, {
    "anonymous": false,
    "inputs": [{
        "indexed": false,
        "name": "time",
        "type": "uint256"
    }, {
        "indexed": true,
        "name": "from",
        "type": "address"
    }, {
        "indexed": true,
        "name": "to",
        "type": "address"
    }, {
        "indexed": false,
        "name": "sent",
        "type": "int256"
    }, {
        "indexed": false,
        "name": "tax",
        "type": "int256"
    }, {
        "indexed": false,
        "name": "recieved",
        "type": "int256"
    }],
    "name": "TransferCredit",
    "type": "event"
}, {
    "anonymous": false,
    "inputs": [{
        "indexed": false,
        "name": "time",
        "type": "uint256"
    }, {
        "indexed": true,
        "name": "from",
        "type": "address"
    }, {
        "indexed": true,
        "name": "to",
        "type": "address"
    }, {
        "indexed": false,
        "name": "value",
        "type": "int256"
    }],
    "name": "Approval",
    "type": "event"
}, {
    "anonymous": false,
    "inputs": [{
        "indexed": false,
        "name": "time",
        "type": "uint256"
    }, {
        "indexed": true,
        "name": "from",
        "type": "address"
    }, {
        "indexed": true,
        "name": "to",
        "type": "address"
    }, {
        "indexed": false,
        "name": "value",
        "type": "int256"
    }],
    "name": "Delegation",
    "type": "event"
}, {
    "anonymous": false,
    "inputs": [{
        "indexed": false,
        "name": "time",
        "type": "uint256"
    }, {
        "indexed": true,
        "name": "to",
        "type": "address"
    }, {
        "indexed": false,
        "name": "recieved",
        "type": "int256"
    }],
    "name": "Pledge",
    "type": "event"
}, {
    "anonymous": false,
    "inputs": [{
        "indexed": false,
        "name": "time",
        "type": "uint256"
    }, {
        "indexed": false,
        "name": "target",
        "type": "address"
    }, {
        "indexed": false,
        "name": "accstatus",
        "type": "bool"
    }, {
        "indexed": false,
        "name": "acctype",
        "type": "int256"
    }, {
        "indexed": false,
        "name": "debit",
        "type": "int256"
    }, {
        "indexed": false,
        "name": "credit",
        "type": "int256"
    }],
    "name": "SetAccountParams",
    "type": "event"
}, {
    "anonymous": false,
    "inputs": [{
        "indexed": false,
        "name": "time",
        "type": "uint256"
    }, {
        "indexed": false,
        "name": "target",
        "type": "address"
    }, {
        "indexed": false,
        "name": "amount",
        "type": "int256"
    }],
    "name": "CreditLimitChange",
    "type": "event"
}, {
    "anonymous": false,
    "inputs": [{
        "indexed": false,
        "name": "time",
        "type": "uint256"
    }, {
        "indexed": false,
        "name": "target",
        "type": "address"
    }, {
        "indexed": false,
        "name": "amount",
        "type": "int256"
    }],
    "name": "DebitLimitChange",
    "type": "event"
}, {
    "anonymous": false,
    "inputs": [{
        "indexed": false,
        "name": "time",
        "type": "uint256"
    }, {
        "indexed": false,
        "name": "target",
        "type": "address"
    }, {
        "indexed": false,
        "name": "balance",
        "type": "uint256"
    }, {
        "indexed": false,
        "name": "limit",
        "type": "uint256"
    }],
    "name": "Refilled",
    "type": "event"
}, {
    "anonymous": false,
    "inputs": [{
        "indexed": true,
        "name": "from",
        "type": "address"
    }, {
        "indexed": true,
        "name": "to",
        "type": "address"
    }, {
        "indexed": false,
        "name": "value1",
        "type": "int256"
    }, {
        "indexed": false,
        "name": "value2",
        "type": "int256"
    }],
    "name": "DebugMsg",
    "type": "event"
}]
addr = "0xB86C066396A6f21F17301E9acfec2a0Fc5c76116"
var leman = eth.contract(desc).at(addr)
var Transfer = leman.Transfer({}, {
    fromBlock: FBLOCK,
    toBlock: 'LBLOCK'
});
Transfer.watch(function(error, result) {
    console.log(JSON.stringify(result))
});
var TransferCredit = leman.TransferCredit({}, {
    fromBlock: FBLOCK,
    toBlock: 'LBLOCK'
});
TransferCredit.watch(function(error, result) {
    console.log(JSON.stringify(result))
});
var Pledge = leman.Pledge({}, {
    fromBlock: FBLOCK,
    toBlock: 'LBLOCK'
});
Pledge.watch(function(error, result) {
    console.log(JSON.stringify(result))
});
addr = "0x85291865Ac4b11b086EAf901E6116eba014244cE"
var leman = eth.contract(desc).at(addr)
var Transfer = leman.Transfer({}, {
    fromBlock: FBLOCK,
    toBlock: 'LBLOCK'
});
Transfer.watch(function(error, result) {
    console.log(JSON.stringify(result))
});
var TransferCredit = leman.TransferCredit({}, {
    fromBlock: FBLOCK,
    toBlock: 'LBLOCK'
});
TransferCredit.watch(function(error, result) {
    console.log(JSON.stringify(result))
});
var Pledge = leman.Pledge({}, {
    fromBlock: FBLOCK,
    toBlock: 'LBLOCK'
});
Pledge.watch(function(error, result) {
    console.log(JSON.stringify(result))
});
addr = "0x45485Baa9C594D21A1B131d38Bba48bC830fD041"
var leman = eth.contract(desc).at(addr)
var Transfer = leman.Transfer({}, {
    fromBlock: FBLOCK,
    toBlock: 'LBLOCK'
});
Transfer.watch(function(error, result) {
    console.log(JSON.stringify(result))
});
var TransferCredit = leman.TransferCredit({}, {
    fromBlock: FBLOCK,
    toBlock: 'LBLOCK'
});
TransferCredit.watch(function(error, result) {
    console.log(JSON.stringify(result))
});
var Pledge = leman.Pledge({}, {
    fromBlock: FBLOCK,
    toBlock: 'LBLOCK'
});
Pledge.watch(function(error, result) {
    console.log(JSON.stringify(result))
});
addr = "0xb368e8e8548b853c8908de65aa3d4a75ae50ac7c"
var leman = eth.contract(desc).at(addr)
var Transfer = leman.Transfer({}, {
    fromBlock: FBLOCK,
    toBlock: 'LBLOCK'
});
Transfer.watch(function(error, result) {
    console.log(JSON.stringify(result))
});
var TransferCredit = leman.TransferCredit({}, {
    fromBlock: FBLOCK,
    toBlock: 'LBLOCK'
});
TransferCredit.watch(function(error, result) {
    console.log(JSON.stringify(result))
});
var Pledge = leman.Pledge({}, {
    fromBlock: FBLOCK,
    toBlock: 'LBLOCK'
});
Pledge.watch(function(error, result) {
    console.log(JSON.stringify(result))
});
